nav(class=nav + "navbar navbar-expand-lg px-2")
    div(class="container-fluid")
        a(href="/home" class="navbar-brand") #{config['settings']['name']}
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNav")
            ul(class="navbar-nav")
                li(class="nav-item")
                    a(class=path=='home' ? 'nav-link active' : 'nav-link' href="/home" ) Home
                li(class="nav-item")
                    a(class=path=='upload' ? 'nav-link active' : 'nav-link' href="/upload") Upload
                li(class="nav-item")
                    a(class=path=='paste' ? 'nav-link active' : 'nav-link' href="/paste") Paste
                li(class="nav-item")
                    a(class=path=='gallery' ? 'nav-link active' : 'nav-link' href="/gallery") Gallery
                li(class="nav-item")
                    a(class=path=='account' ? 'nav-link active' : 'nav-link' href="/user/"+session.username) Account
                li(class="nav-item")
                    a(class=path=='settings' ? 'nav-link active' : 'nav-link' href="/settings") Settings
                if session.group < 3
                    li(class="nav-item")
                        a(class=path=='admin' ? 'nav-link active' : 'nav-link' href="/admin") Admin
            ul(class="navbar-nav ms-auto")
                li(class="nav-item")
                    if appTheme == 'dark'
                        span(class="nav-link" onclick="setTheme('light')" id="theme-button")
                            i(class="fas fa-sun" id="theme-icon")
                    else
                        span(class="nav-link" onclick="setTheme('dark')" id="theme-button")
                            i(class="fas fa-moon" id="theme-icon")
                li(class="nav-item")
                    a(class="nav-link" href="/logout") Sign out