doctype html 
html
    head
        include include/head.pug
        link(href="styles/home.css" rel="stylesheet" type="text/css")
        title #{user.username}
    body(class=theme)
        include include/nav.pug
        div(class="container")
            div(class="row")
                div(class="col-lg-6 mb-4 w-25")
                    div(class=bg + "card mt-5 mx-auto")
                        h5(class=bg + "card-header") Information
                        div(class="card-body p-2")
                            span(class="d-flex")
                                p(class="mb-0 mt-0") Join Date:
                                p(class="mb-0 mt-0 ms-1 text-muted") January 1st, 2000 
                            span(class="d-flex")
                                p(class="mb-0 mt-0") Invited by: 
                                a(class="mb-0 mt-0 ms-1" href="/users/test") Test
                            h5(class=bg + "card-header") Links
                            span(class="d-flex")
                                i(class="fa-brands fa-discord mt-auto mb-auto")
                                p(class="ms-1 mt-auto mb-auto") discordUsername#1234
                            span(class="d-flex")
                                i(class="fa-brands fa-twitter mt-auto mb-auto")
                                a(class="ms-1 mt-auto mb-auto" href="https://twitter.com/twitterUsername") @twitterUsername   
                            span(class="d-flex")
                                i(class="fa-solid fa-link mt-auto mb-auto")
                                a(class="ms-1 mt-auto mb-auto" href="https://sen.cat") sen.cat                          
                div(class="col-lg-6 mb-4 w-75")
                    div(class=bg + "card mt-5 mx-auto w-100 p-2")
                        h5(class=bg + "card-header") User
                        if user.banner
                            -var bannerDiv = "background-image: url(;" + user.banner + ");"
                        else
                            -var bannerDiv = "background: #404040;"
                        div(class="rounded p-4 user-background" style=bannerDiv)
                            div(class="d-flex")
                                img(src=user.avatar alt=user.username class="img-thumbnail rounded-circle avatar") 
                                div(class="d-flex mt-auto mb-auto ms-3 p-1 username")
                                    h4(class="mb-0 mt-0") #{user.username}
                                    h4(class="uid mb-0 mt-0") ##{user.id} 
                        h5(class=bg + "card-header d-flex")
                            p(class='mt-auto mb-auto') About  
                            button(type="button" class="ms-auto btn btn-primary") Edit profile
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus magna at neque porttitor, quis accumsan risus feugiat. Donec orci sapien, scelerisque a mi nec, fringilla congue augue. Praesent quis faucibus justo, at ultricies turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse tortor erat, imperdiet at mauris nec, porta venenatis dolor. Vestibulum volutpat magna nec diam cursus, et tempus ante mollis. Vivamus pretium risus tincidunt, congue erat eu, feugiat est.
        include include/footer.pug