doctype html 
html
    head 
        meta(name="title" content=config['settings']['name'])
        meta(name="description" content=['settings']['description'])
        meta(name="keywords" content="paste, filehost, " + config['settings']['name'])
        meta(name="author" content=config['settings']['name'])
        meta(property="og:title" content=config['settings']['name'])
        meta(property="og:description" content=['settings']['description'])
        meta(property="og:type" content="website")
        meta(property="og:image" content="/images/logo.png")
        meta(property="og:site_name" content=config['settings']['name'])
        include include/head.pug
        title #{config['settings']['name']}
    body(class=theme)
        include include/nav.pug
        div(class="container")
            div(class=bg + "card w-75 mx-auto mt-5")
                h5(class="card-header") Welcome, 
                    - var groupClass = "usergroup-" + session.group;
                    span(class=groupClass) #{session.username}
                div(class="card-body")
                    div(class="progress")
                        - var progress = "width: " + Math.round(spaceUsed / spaceTotal * 100) + "%"
                        div(class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style=progress aria-valuenow=spaceUsed aria-valuemin="0" aria-valuemax=spaceTotal)
                    p(class="text-center text-muted") Storage used #{spaceUsed}/#{spaceTotal} MB
                    p Uploaded files: #{files.length}
                    p Invites: 
                        a(href="/invites" class="text-decoration-none") #{user.invites}
            div(class=bg + "card w-75 mx-auto mt-5 table-responsive upload-table")
                h5(class="card-header") Latest Uploads 
                div(class="card-body")
                    each file in files
                        - var mime = file.mime.split('/')[0]
                        if mime == 'image'
                            img(class="uploaded-image m-3" src="files/"+file.name height="300")
                        else
                            span(class="card uploaded-file m-3 p-2 d-inline-block")
                                span
                                    i(class="fas fa-file-alt")
                                span(class="ms-2")
                                    |#{file.filename}
                        

        include include/footer.pug