doctype html 
html
    head 
        include include/head.pug
        link(href="styles/home.css" rel="stylesheet" type="text/css")
        title #{config['settings']['name']}
    - var theme = 'theme-' + session.theme
    body(class=theme)
        nav(class="navbar navbar-expand-lg navbar-dark bg-dark px-2")
            a(href="/home" class="navbar-brand") #{config['settings']['name']}
            ul(class="navbar-nav")
                li(class="nav-item")
                    a(class="nav-link active" href="/home") Home 
                li(class="nav-item")
                    a(class="nav-link" href="/upload") Upload
                li(class="nav-item")
                    a(class="nav-link" href="/paste") Paste
                li(class="nav-item")
                    a(class="nav-link" href="/gallery") Gallery
                li(class="nav-item")
                    a(class="nav-link" href="/account") Account
                li(class="nav-item")
                    a(class="nav-link" href="/settings") Settings
            ul(class="navbar-nav ms-auto")
                li(class="nav-item")
                    a(class="nav-link" href="/api/theme")
                        if session.theme == 'dark'
                            i(class="fas fa-sun")
                        else
                            i(class="fas fa-moon")
                li(class="nav-item")
                    a(class="nav-link" href="/logout") Sign out
        div(class="container")
            div(class="card bg-dark w-75 mx-auto mt-5")
                h5(class="card-header") Welcome, 
                    - var groupClass = "usergroup-" + session.group;
                    span(class=groupClass) #{session.username}
                div(class="card-body")
                    div(class="progress")
                        - var progress = "width: " + Math.round(spaceUsed / spaceTotal * 100) + "%"
                        div(class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style=progress aria-valuenow=spaceUsed aria-valuemin="0" aria-valuemax=spaceTotal)
                    p(class="text-center text-muted") Storage used #{spaceUsed}/#{spaceTotal} MB
                    p Total files on site: 99999
                    p Invites: 
                        a(href="/invites" class="text-decoration-none") 5
            div(class="card bg-dark w-75 mx-auto mt-5")
                h5(class="card-header") Latest Uploads 
                div(class="uploaded-content m-3")
                    img(src="https://cdn.sen.cat/cat/670.jpg" height="300")

        include include/footer.pug