doctype html 
html
    head
        script(src="/js/invite.js")
        include include/head.pug
        title Invites
    body(class=theme)
        include include/nav.pug
        div(class="container")
            div(class=bg + "card mt-5 mx-auto w-75")
                h5(class=bg + "card-header") Generate Invite
                div(class="card-body")
                    pre(class="p-3 mt-2 mb-2")
                        code(class="p-3 rounded text-muted" id="generated-invite")
                    label(for="max-uses") Maximum amount of uses: 
                    input(class="ms-2" type="number" id="max-uses" name="max-uses" value="1" max=user.invites style="width: 5%")
                    p Invites left: 
                        span(id="invites-left") #{user.invites}
                button(class="btn btn-primary mt-2" id="generate-invite") Generate Invite
            div(class=bg + "card mt-5 mx-auto w-75")
                h5(class=bg + "card-header") Your Invites
                div(class="card-body" id="invite-list")
                    each invite in invites
                        div 
                            span(class="me-2 invite "+ (invite.uses >= invite.maxUses ? "text-muted strikethrough" : "text-success") id=invite.invite) #{invite.invite}
                            span Uses: #{invite.uses}/#{invite.maxUses}
                    if invites.length == 0
                        span(class="text-muted") You have no invites
        include include/footer.pug