doctype html 
html
    head
        include include/head.pug
        meta(name="title" content="Log in")
        meta(name="description" content="Log in to your account")
        meta(name="keywords" content="paste, filehost, " + config['settings']['name'])
        meta(name="author" content=config['settings']['name'])
        meta(property="og:title" content="Log in")
        meta(property="og:description" content="Log in to your account")
        meta(property="og:type" content="website")
        meta(property="og:image" content="/images/logo.png")
        meta(property="og:site_name" content=config['settings']['name'])
        meta(charset="utf-8")
        link(href="/styles/auth.css" rel="stylesheet" type="text/css")
        script(src="/js/auth.js")
        link(rel="icon", href="/images/favicon.ico")
        title #{config['settings']['name']} - Sign in
        unless session.toast == false
            script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
            script(src="/js/toast/jquery.toast.min.js")
            link(href="/js/toast/jquery.toast.min.css" rel="stylesheet")
    - var theme = 'text-center theme-' + session.theme
    body(class=theme)
        div(class="container")
            div(class="mx-auto rounded p-3 login-form bg-dark")
                h1(class="mb-3") Sign in
                div(class="form-floating auth-input")
                    input(class="form-control" id="username" name="username" placeholder="Username or email" maxlength="50" pattern='^[a-zA-Z0-9@_.-]*$' required)
                    label(for="username") Username or email
                div(class="form-floating mt-1 auth-input")
                    input(type="password" class="form-control" id="password" name="password" placeholder="Password" required)
                    label(for="password") Password
                div(class="checkbox mt-1 mb-3")
                    label
                        input(type="checkbox" value="remember" name="remember" id="remember")
                        .  
                            Remember me
                button(class="w-100 btn btn-lg btn-primary auth-button mt-3" id="log-in-button") Sign in
                if config.settings['discord-login'] == 'on'
                    - let redirect = new URLSearchParams(config.discord.discord_login_redirect_uri).toString().slice(0, -1);
                    a(href="https://discord.com/api/oauth2/authorize?client_id="+config.discord.discord_client_id+"&redirect_uri="+redirect+"&response_type=code&scope=identify" class="w-50 btn btn-sm btn-secondary auth-button mt-3 p-1 border-0" id="discord-login")
                        i(class="fa-brands fa-discord me-2")
                        span(class="") Sign in with Discord
        p(class="mt-2") Don't have an account? 
            a(href="/register") Sign up
        unless session.toast == false
            script.
                $.toast({text: "#{session.toast[1]}", loader: false, bgColor:"#{session.toast[0]}"})            
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")