doctype html 
html
    head 
        meta(name="title" content="Privacy Policy")
        meta(name="description" content=config['settings']['name'] + " Privacy Policy")
        meta(name="keywords" content="paste, filehost, " + config['settings']['name'])
        meta(name="author" content=config['settings']['name'])
        meta(property="og:title" content="Privacy Policy")
        meta(property="og:description" content=config['settings']['name'] + " Privacy Policy")
        meta(property="og:type" content="website")
        meta(property="og:image" content="/images/logo.png")
        meta(property="og:site_name" content=config['settings']['name'])
        include include/head.pug
        title Privacy Policy
    body(class=theme)
        include include/nav.pug      
        div(class="container")
            div(class=bg + "card w-75 mx-auto mt-5")
                h5(class="card-header") Privacy Policy
                    span(class="text-muted h6 ms-1") Updated: 2/28/2022
                div(class="card-body")
                    p Data we(#{config['settings']['name']}) collect: 
                    ul 
                        li IP address 
                        li Email address 
                    p We probably won't sell your data, but if we do we'll probably tell you or at least do it in a responsible way. 
                    p If you want all your data to be deleted, you are free to delete your account. By deleting your account all data associated with your account will be permanently removed.


        include include/footer.pug