doctype html 
html
    head
        include include/head.pug
        link(href="/styles/home.css" rel="stylesheet" type="text/css")
        title Settings
    body(class=theme)
        include include/nav.pug
        div(class="container")
            div(class="row")   
                if user.discord_id
                    div(class="col-lg-6 mb-4 w-25")
                        div(class=bg + "card mt-5 mx-auto w-75")
                            h5(class=bg + "card-header") Discord
                            div(class="card-body p-2")
                                div(class="text-center")
                                    img(class="img-thumbnail rounded-circle avatar w-50" src="https://cdn.discordapp.com/avatars/"+user.discord_id+"/"+user.discord_avatar alt=user.discord_username)
                                    h5(class="mt-1 mb-auto") 
                                        span #{user.discord_username.split("#")[0]}
                                        span(class="text-muted") ##{user.discord_username.split("#")[1]}
                div(class="col-lg-6 mb-4 w-75")
                    div(class=bg + "card mt-5 mx-auto w-100 p-2")
                        h5(class=bg + "card-header") Settings
                        h4 Authentication
                        span(class="d-flex")
                            input(class="form-control form-control-sm mt-1 ms-1 w-25" type="password" placeholder="Current password" name="current-password" id='current-password')
                        span(class="d-flex")
                            input(class="form-control form-control-sm mt-1 ms-1 w-25" type="password" placeholder="New password" name="new-password" id='repeat-password')
                        span(class="d-flex")
                            input(class="form-control form-control-sm mt-1 ms-1 w-25" type="password" placeholder="Repeat password" name="repeat-password" id='repeat-password')
                        button(class="btn btn-sm btn-primary ms-1 w-25 mt-2" id="change-password") Change password
                        h5(class="mt-2") Discord
                        a(class="btn btn-sm btn-primary ms-1 w-25 mt-2" href="https://discord.com/api/oauth2/authorize?client_id=1002561492203343933&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fsettings%2Fauth&response_type=code&scope=identify" target="_blank")
                            i(class="fa-brands fa-discord me-2")
                            | Discord Oauth2
                        h4(class="mt-2") User settings
                        span(class="d-flex") 
                            p(class="mt-auto mb-auto") E-mail
                            input(class="form-control form-control-sm mt-1 ms-1 w-25" type="text" placeholder="email@example.com" name="email" id='email' value=user.email)
                        button(class="btn btn-sm btn-primary mt-3 ms-auto me-auto w-50" id="save-settings") Save
        include include/footer.pug