doctype html 
html
    head 
        meta(name="title" content="Terms of Service")
        meta(name="description" content=config['settings']['name'] + " Terms of Service")
        meta(name="keywords" content="paste, filehost, " + config['settings']['name'])
        meta(name="author" content=config['settings']['name'])
        meta(property="og:title" content="Terms of Serviceister")
        meta(property="og:description" content=config['settings']['name'] + " Terms of Service")
        meta(property="og:type" content="website")
        meta(property="og:image" content="/images/logo.png")
        meta(property="og:site_name" content=config['settings']['name'])
        include include/head.pug
        title Terms of Service
    body(class=theme)
        include include/nav.pug        
        div(class="container")
            div(class=bg + "card w-75 mx-auto mt-5")
                h5(class="card-header") Terms of Service 
                    span(class="text-muted h6 ms-1") Updated: 2/28/2022
                div(class="card-body")
                    p By using #{config['settings']['name']} you agree to the following rules:
                    ul
                        li Don't upload files illegal in the US.
                        li No selling accounts/invites.
                        li Don't pester staff for invites or unbans.
                    p Any violation of these rules may lead to your account being terminated without warning. 
                    p The administration of #{config['settings']['name']} reserves the right to terminate or modify your account without prior warning. 


        include include/footer.pug